<style type="text/css">
		footer{
			color: #B3D094;
			border-top: 1px solid #fff; 
			padding-top: 10px;
			background-color:#5A788B;
			opacity: 0.8;
			/*margin-top: 50px;
			position: absolute;
			bottom: 0px;
			width: 100%;*/
		}
		.footer-top,.footer-bottom{
			padding: 0px;
			margin: 0px;
		}
		.footer-top{
			margin-bottom: 5px;
			border-bottom: 1px solid #fff;
		}
		footer a{
			color: #fff;
		}
</style>
<footer class='footer' id='footer'>
	<div class='container'>
		<div class='container-fluid'>
			<div class='row footer-top'>
				<p class='text-center'>我的个人网站：该网站主要用Bootstrap布局，参照新浪微博的格式设计。</p>
				<p>
					<ul class='list-inline text-center'>
						<li>联系方式：</a></li>
						<li><a href="http://weibo.com/1309938251/profile" target='_blank'>新浪微博</a></li>
						<li><a href="mailto:270883733@qq.com">电子邮件</a></li>
					</ul>
				</p>
				<p>
					<ul class='list-inline text-center'>
						<li>友情链接：</li>
						<li><a href="http://www.w3school.com.cn/index.html" target='_blank'>W3school</a></li>
						<li><a href="http://v3.bootcss.com/" target='_blank'>Bootstrap</a></li>
						<li><a href="http://www.php100.com/html/webkaifa/database/Mysql/2012/0720/10713.html" target='_blank'>MYSQL</a></li>
						<li><a href="http://www.kancloud.cn/manual/thinkphp5/118003" target='_blank'>ThinkPHP5</a></li>
						<li><a href="http://liufang666.applinzi.com/myfamily/index.php/Home/Index/index" target='_blank'>刘昉的主页</a></li>
					</ul>
				</p>	
			</div>								
			<div class='row footer-bottom'>
				<ul class='list-inline text-center'>
					<li>安徽省合肥市黄山路中科大</li>
					<li>|</li>
					<li>Copyright@lsh 2017</li>
				</ul>
			</div>
		</div>
	</div>
</footer>