<!doctype html>
<html>
<head><title>文章添加</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/article-add.css">

	<script src="__PUBLIC__/static/admin/js/jquery.js"></script>
	<script src="__PUBLIC__/static/admin/js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/admin/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/admin/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/admin/ueditor/lang/zh-cn/zh-cn.js"></script>	
	<style>	
		/*body*/
			a:hover{
				font-weight: bold;
				background: #B3D094;
				color: #fff;
			}
			.footer{				
				position: fixed;
				bottom: 0px;
				width: 100%;
				clear: both;
			}
			.right-column{
				margin-top: 0px;
				margin-bottom:50px;
				height:100%;
			}


	</style>
</head>
<body style="background-image:url('__PUBLIC__{$bg}');background-size: cover;background-attachment: fixed;">

	<div class='container'>
		<!--网页导航条-->
			{include file='Public/top' /}

		<div class='row content'>
			<!--左边侧栏-->
			{include file='Public/left' /}
			<!--正文——中间框-->
			<div class='col-md-10 right-column' id='right-column'>
				<div class='panel panel-info'>
					<div class='panel-heading'>
						<div class='panel-title'>
							<p>
								<a href="{:url('Admin/index/index')}">首页</a>
								>
								<a href="{:url('index')}">文章管理</a>
								>
								<span class='now-page'>新增文章</span>
							</p>
						</div>
					</div>
					<div class='panel-body'>
						<form action="" method='post' name='articlesubmit' id="articlesubmit"  enctype="multipart/form-data">
							<table class='table table-striped table-bordered' width='100%'>
								<tr>
									<th><i class="glyphicon glyphicon-asterisk" style='color:red'></i>文章标题：</th>
									<td><input type="text" class='' id='title' name='title' size='50'></td>
								</tr>
								<tr>
									<th>关键词：</th>
									<td><input type="text" class='' id='keywords' name='keywords' size='50'></td>
								</tr>
								<tr>
									<th>描述：</th>
									<td>
									<textarea name='intro' id='intro' class='intro-textarea' cols='20' rows='4' style="width:50%" ></textarea>
								</tr>
								<tr>
									<th>缩略图：</th>
                                	<td><input type='file' name='pic'/></td>
								</tr>
								<tr>
									<th>内容：</th>
									<td>
										<textarea name='content' id='content' class='content-textarea'></textarea>
									</td>
								</tr>
								<tr>
									<th></th>
									<td>
										<input type='submit' class='btn btn-primary' value='提交'/>
										<input type='button' class='btn btn-primary' onclick="history.go(-1)" value='返回'/>
									</td>
								</tr>														
							</table>
						</form>
					</div>
				</div>
			</div>

		</div>

	</div>
	<!--网页页尾-->
		{include file='Public/foot' /}
</body>
<script type="text/javascript">


    UE.getEditor('content',{initialFrameWidth:null,initialFrameHeight:220,autoHeightEnabled: false,})
$(document).ready(function(){
	var right_column_height=document.getElementById('right-column').offsetHeight;
	var footer_column_height=150;
	//alert(right_column_height)
	//alert(window.innerHeight)
	if ((right_column_height+250)>window.innerHeight) {
		$('footer').removeClass();
	};		
})	    
	$(window).resize(function(){
		if ((right_column_height+250)>window.innerHeight) {
			//alert('ads')
			$('footer').removeClass('footer');
		}else{
			$('footer').addClass('footer');
		}		
	})
</script>
</html>